.kl_hvr-zoom {
  position: relative;

  figcaption {
    display: none;
  }

  img,
  &:after {
    transition: .8s ease;
  }

  &:hover {
    img {
      transform: scale(1.2);
    }

    &:after {
      opacity: .4;
    }
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
  }
}
